@charset "UTF-8";
h1 {
	font-family: Arial, Helvetica, sans-serif;
	color: #9C3;
}

h2 {
	font-size: 18px;
	color: #390;
	text-transform: uppercase;
	letter-spacing: 5px;
}

a:link {
	color: #030;
}
a:hover {
	color: #C60;
	text-decoration: none;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	background-color: #739112;
	text-align: center;
}
#main {
	position:absolute;
	left:0px;
	top:100px;
	width:480px;
	height:600px;
	z-index:1;
	background-color: #FFFFFF;
	overflow: auto;
}
#container {
	background-color: #FFF;
	height: 1200px;
	width: 750px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	text-align: left;
}
#header {
	position:absolute;
	width:750px;
	height:90px;
	z-index:2;
	left: 0px;
	top: 0px;
	background-color: #9FCC41;
	background-image: url(images/veggies.jpg);
	background-repeat: no-repeat;
	background-position: right;
}
#GlobalNav {
	background-image: url(images/globalnav_bg.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 190px;
	position: absolute;
	right: 50px;
	bottom: 10px;
	text-align: center;
}
#sidebar {
	position:absolute;
	width:230px;
	height:600px;
	z-index:1;
	left: 500px;
	top: 100px;
	background-color: #FFFFFF;
}
#footer {
	position:absolute;
	width:750px;
	height:100px;
	z-index:3;
	left: 0px;
	top: 750px;
	background-color: #CCCCCC;
}
#container #header img {
	margin-top: 40px;
	margin-left: 15px;
}
#container #main h1 {
	margin-left: 15px;
	margin-bottom: 0px;
}
#container #main p {
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#container #sidebar p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	line-height: 18px;
	color: #FFF;
	background-color: #9FCC41;
	border: 1px dotted #5A710D;
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 5px;
}
